<div class="login-background">
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 login-card">
      <h2 class="text-center mb-4">Signup Form</h2>
      <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-outline-secondary rounded-pill" (click)="navigateToLogin()">Login</button>
        <button class="btn btn-signup rounded-pill" (click)="signup()">Signup</button>
      </div>
      <form (ngSubmit)="signup()" class="needs-validation" novalidate>
        <div class="mb-3">
          <input type="text" class="form-control p-2" placeholder="Username" [(ngModel)]="user.username" name="username" required>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control p-2" placeholder="Email Address" [(ngModel)]="user.email" name="email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control p-2" placeholder="Password" [(ngModel)]="user.password" name="password" required>
        </div>
        @if (errorMessage) {
          <div class="alert alert-danger">{{ errorMessage }}</div>
        }
        <button type="submit" class="btn btn-signup w-100 rounded-pill p-2 mb-3">Signup</button>
      </form>
      <div class="text-center">
        <a href="#" class="text-primary" (click)="navigateToLogin()">Already a member? Login now</a>
      </div>
    </div>
  </div>
</div>
